/** Metodologia  OOCSS */

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

.titulo {
    text-align: center;
    font: {
        family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        style: italic;
    }  
}
.green-titulo {
    color: green;
}

.borda {
    border: 1px solid black;
    
}

.margem {
    margin-left: 2em ;
}

.cor-fundo {
  background-color: red;
}
}